# Dependencies
node_modules/
/.pnp
.pnp.js
package-lock.json

# Testing
/coverage

# Production
/build
/dist
/tmp
/out

# Environment variables
.env
.env.development
.env.production

# Misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Editors/OS files
.claude/
.idea/
.vscode/
world_not_in_peace/